---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Gemini - GPT Partners">
	<main class="w-screen h-screen absolute z-50">
		<a href="/">
			<img class="z-50 absolute top-3 left-3 h-12" src="/logo.gif"/>
		</a>
		<iframe class="w-screen h-screen aspect-video" src="https://orzpartners.com/gemini.html"></iframe>
	</main>
</Layout>
