---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

	<div title="{title}" class="visible lg:invisible fixed bottom-2 left-1/2 transform -translate-x-1/2 inline-flex left-0 mx-auto justify-between w-11/12 bg-gradient-to-r from-indigo-600/80 to-indigo-600/70 backdrop-blur-[.5em] outline-[1px] outline outline-indigo-100/70 rounded-3xl shadow-inner shadow-lg">
      <a
        aria-current="page"
        class="inline-flex flex-col items-center text-xs font-medium py-3 px-4 text-white flex-grow"
        href="/"
      >
        <svg
          class="w-7 h-7"
          fill="white"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z"></path>
        </svg>
        <span class="sr-only">Home</span>
      </a>
	  <!--
      <a
        class="inline-flex flex-col items-center text-xs font-medium text-blue-400 py-3 px-4 flex-grow"
        href="#"
      >
        <svg
          class="w-7 h-7"
          fill="white"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </a>
      <span class="sr-only">Upload</span>
	  -->
      <a href="/chat/" class="relative inline-flex flex-col items-center text-xs font-medium text-white py-3 px-6 flex-grow">
        <div class="absolute bottom-5 p-3 rounded-full border-4 border-white/90 bg-indigo-500">
          <img class="h-8" src="/logo.gif"/>
        </div>
        <span class="sr-only">Chat</span>
      </a>
	  <!--
      <a
        class="inline-flex flex-col items-center text-xs font-medium text-blue-400 py-3 px-4 flex-grow"
        href="/"
      >
        <svg
          class="w-7 h-7"
          fill="white"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <span class="sr-only">Search</span>
      </a>
	  -->
      <a
        class="inline-flex flex-col items-center text-xs font-medium text-blue-400 py-3 px-4 flex-grow"
        href="https://play.google.com/store/apps/details?id=com.gptpartners.conversai&hl=id&gl=US" target="_blank"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="w-7 h-7" fill="white" viewBox="0 0 512 512">
		<path d="M325.3 234.3L104.6 13l280.8 161.2-60.1 60.1zM47 0C34 6.8 25.3 19.2 25.3 35.3v441.3c0 16.1 8.7 28.5 21.7 35.3l256.6-256L47 0zm425.2 225.6l-58.9-34.1-65.7 64.5 65.7 64.5 60.1-34.1c18-14.3 18-46.5-1.2-60.8zM104.6 499l280.8-161.2-60.1-60.1L104.6 499z"/></svg>
        <span class="sr-only">Profile</span>
      </a>
    </div>