---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<section title="{title}" class="container py-12 px-5 flex justify-center items-center mx-auto m-auto mt-6 bg-gradient-to-r from-white/50 to-white/20 text-[#1c0708] backdrop-blur-[.5em] outline-[1px] outline outline-white/70 rounded-2xl shadow-black/2 text-gray-600 shadow-lg rounded-lg">
	<img class="z-50 absolute bottom-0 left-0 h-28" src="/logo.gif"/>
	<div class="flex flex-col flex-grow mt-8 rounded-lg p-5 mb-12">
            <div class="text-center font-semibold">
                <h3 class="text-3xl mb-3 font-bold text-indigo-400">
						<span class="relative mt-3 whitespace-nowrap text-indigo-400"><svg aria-hidden="true" viewBox="0 0 418 42"
								class="absolute top-3/4 left-0 right-0 m-auto h-[0.58em] w-fit fill-pink-400/50"
									preserveAspectRatio="none">
									<path
										d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934 1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z">
									</path>
								</svg>
								<span class="relative bg-gradient-to-r from-indigo-500 to-pink-500 bg-clip-text text-transparent">GPT PARTNERS</span>
							</span>
						</span>
					</h3>
                <p class="pt-6 text-xl text-gray-600 font-normal w-full px-8 md:w-full">
                    Dapatkan kemudahan untuk mengakses kami melalui Aplikasi<br>yang terintergrasi oleh OpenAI GPT-4.
                </p>
            </div>
            <div class="mx-auto mt-16 shadow-lg max-w-11/12 rounded-3xl ring-2 ring-indigo-300 sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
			  <div class="p-8 sm:p-10 lg:flex-auto">
				<h3 class="text-2xl font-bold tracking-tight text-blue-700">Apa Yang Dapatkan?</h3>
				<ul role="list" class="mt-8 grid grid-cols-1 gap-4 text-sm leading-6 text-gray-600 sm:grid-cols-2 sm:gap-6">
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
					</svg>
					Dukungna GPT-4
				  </li>
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
					</svg>
					Asisten AI
				  </li>
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
					</svg>
					Respon cepat
				  </li>
				  <li class="flex gap-x-3">
					<svg class="h-6 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
					  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
					</svg>
					Tidak ada iklan
				  </li>
				</ul>
			  </div>
			  <div class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:flex-shrink-0">
				<div class="rounded-2xl bg-indigo-400 py-10 text-center ring-1 ring-inset ring-gray-900/5 lg:flex lg:flex-col lg:justify-center lg:py-16">
				  <div class="mx-auto max-w-xs px-8">
					<p class="text-base font-semibold text-white">Dapatkan Gratis</p>
					<p class="flex items-baseline justify-center">
					</p>
					<a href="https://play.google.com/store/apps/details?id=com.gptpartners.conversai&hl=id&gl=US" target="_blank" class="mt-5 block w-full rounded-md bg-white px-3 py-2 text-center text-sm font-semibold text-indigo-500 shadow-lg hover:bg-indigo-100 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">UNDUH SEKARANG</a>
				  </div>
				</div>
			  </div>
			</div>
        </div>
</section>